@charset "UTF-8";
:global .react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}
:global .react-datepicker {
  color: var(--date-picker-font-color, var(--color-brand-dark-500));
  font-size: var(--date-picker-font-size, var(--size-font-sm));
  background-color: var(--date-picker-background-color, var(--color-brand-white-500));
  border-radius: var(--date-picker-border-radius, var(--size-border-radius-sm));
  display: inline-block;
  position: relative;
}
:global .react-datepicker--time-only .react-datepicker__triangle {
  left: 35px;
}
:global .react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}
:global .react-datepicker--time-only .react-datepicker__time,
:global .react-datepicker--time-only .react-datepicker__time-box {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
:global .react-datepicker__header {
  text-align: center;
  padding-top: 8px;
  position: relative;
}
:global .react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
:global .react-datepicker__header--time:not(:global .react-datepicker__header--time--only) {
  border-top-left-radius: 0;
}
:global .react-datepicker__year-dropdown-container--select,
:global .react-datepicker__month-dropdown-container--select,
:global .react-datepicker__month-year-dropdown-container--select,
:global .react-datepicker__year-dropdown-container--scroll,
:global .react-datepicker__month-dropdown-container--scroll,
:global .react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px;
}
:global .react-datepicker__current-month,
:global .react-datepicker-time__header,
:global .react-datepicker-year-header {
  margin-top: 0;
  font-weight: bold;
}
:global .react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
:global .react-datepicker__navigation {
  background: none;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 12px;
  transition-duration: 0.2s;
  transition-property: border-color;
  width: 0;
  padding: 0;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: var(--date-picker-navigation-icon-color, var(--color-brand-grey-300));
  z-index: 1;
  height: 10px;
  width: 10px;
  text-indent: -999em;
  overflow: hidden;
  vertical-align: top;
}
:global .react-datepicker__navigation--previous {
  left: 20px;
  transform: rotate(-135deg);
}
:global .react-datepicker__navigation--next {
  right: 20px;
  transform: rotate(45deg);
}
:global .react-datepicker__navigation--next--with-time:not(:global .react-datepicker__navigation--next--with-today-button) {
  right: 105px;
}
:global .react-datepicker__navigation--previous:hover, :global .react-datepicker__navigation--next:hover {
  border-color: var(--date-picker-navigation-icon-color-hover, var(--color-brand-grey-500));
}
:global .react-datepicker__navigation--previous--disabled, :global .react-datepicker__navigation--previous--disabled:hover, :global .react-datepicker__navigation--next--disabled, :global .react-datepicker__navigation--next--disabled:hover {
  border-color: var(--date-picker-navigation-icon-color-disabled-hover, var(--color-brand-grey-50));
  cursor: default;
}
:global .react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
:global .react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: var(--color-brand-grey-lighter);
}
:global .react-datepicker__navigation--years-previous:hover {
  border-top-color: var(--color-brand-grey-light);
}
:global .react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: var(--color-brand-grey-lighter);
}
:global .react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: var(--color-brand-grey-lighter);
}
:global .react-datepicker__month-container {
  float: left;
}
:global .react-datepicker__year {
  margin: 0.4rem;
  text-align: center;
}
:global .react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}
:global .react-datepicker__year .react-datepicker__year-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}
:global .react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}
:global .react-datepicker__month .react-datepicker__month-text,
:global .react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  padding: var(--size-spacing-xs);
  margin: 2px;
}
:global .react-datepicker__time-container {
  float: right;
  border-left: 1px solid var(--color-brand-grey-lighter);
  width: 85px;
}
:global .react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  position: absolute;
  right: -72px;
  top: 0;
}
:global .react-datepicker__time-container .react-datepicker__time {
  position: relative;
  border-bottom-right-radius: 0.3rem;
  margin-top: var(--size-spacing-xs);
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 85px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  border-bottom-right-radius: 0.3rem;
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + 0.85rem);
  overflow-y: scroll;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  box-sizing: content-box;
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 30px;
  padding: 5px 10px;
  white-space: nowrap;
  transition-duration: 0.2s;
  transition-property: background-color;
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: var(--color-brand-grey-lightest);
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: var(--date-picker-item-background-color-selected, var(--color-brand-primary-500));
  color: var(--color-brand-white-500);
  font-weight: bold;
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: var(--date-picker-item-background-color-selected-hover, var(--color-brand-primary-600));
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: var(--color-brand-grey-50);
}
:global .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}
:global .react-datepicker__week-number {
  color: var(--color-brand-grey-100);
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}
:global .react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}
:global .react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  background-color: var(--color-brand-grey-lighter);
}
:global .react-datepicker__day-names,
:global .react-datepicker__week {
  white-space: nowrap;
}
:global .react-datepicker__day-names {
  margin-top: var(--size-spacing-md);
}
:global .react-datepicker__day-name,
:global .react-datepicker__day,
:global .react-datepicker__time-name {
  display: inline-block;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 var(--size-spacing-2xs);
}
:global .react-datepicker__day-name--outside-month,
:global .react-datepicker__day--outside-month,
:global .react-datepicker__time-name--outside-month {
  color: var(--color-brand-grey-light);
}
:global .react-datepicker__month--selected, :global .react-datepicker__month--in-selecting-range, :global .react-datepicker__month--in-range,
:global .react-datepicker__quarter--selected,
:global .react-datepicker__quarter--in-selecting-range,
:global .react-datepicker__quarter--in-range {
  background-color: var(--date-picker-item-background-color-selected, var(--color-brand-primary-500));
  color: var(--color-brand-white-500);
}
:global .react-datepicker__month--selected:hover, :global .react-datepicker__month--in-selecting-range:hover, :global .react-datepicker__month--in-range:hover,
:global .react-datepicker__quarter--selected:hover,
:global .react-datepicker__quarter--in-selecting-range:hover,
:global .react-datepicker__quarter--in-range:hover {
  background-color: var(--date-picker-item-background-color-selected-hover, var(--color-brand-primary-600));
}
:global .react-datepicker__month--disabled,
:global .react-datepicker__quarter--disabled {
  color: var(--color-brand-grey-lighter);
  pointer-events: none;
}
:global .react-datepicker__month--disabled:hover,
:global .react-datepicker__quarter--disabled:hover {
  cursor: default;
  background-color: transparent;
}
:global .react-datepicker__day,
:global .react-datepicker__month-text,
:global .react-datepicker__quarter-text,
:global .react-datepicker__year-text {
  transition-duration: 0.2s;
  transition-property: background-color, color, border-radius;
  cursor: pointer;
  margin: var(--size-spacing-2xs);
  border-radius: var(--date-picker-item-border-radius, var(--size-border-radius-lg));
}
:global .react-datepicker__day:hover,
:global .react-datepicker__month-text:hover,
:global .react-datepicker__quarter-text:hover,
:global .react-datepicker__year-text:hover {
  border-radius: var(--date-picker-item-border-radius, var(--size-border-radius-lg));
  background-color: var(--date-picker-item-background-color-hover, var(--color-brand-primary-50));
}
:global .react-datepicker__day--today,
:global .react-datepicker__month-text--today,
:global .react-datepicker__quarter-text--today,
:global .react-datepicker__year-text--today {
  font-weight: bold;
  border-radius: var(--date-picker-item-border-radius, var(--size-border-radius-lg));
  background-color: var(--color-brand-grey-100);
}
:global .react-datepicker__day--highlighted,
:global .react-datepicker__month-text--highlighted,
:global .react-datepicker__quarter-text--highlighted,
:global .react-datepicker__year-text--highlighted {
  border-radius: var(--date-picker-item-border-radius, var(--size-border-radius-lg));
  background-color: var(--date-picker-item-background-color-selected, var(--color-brand-primary-500));
  color: var(--color-brand-white-500);
}
:global .react-datepicker__day--highlighted:hover,
:global .react-datepicker__month-text--highlighted:hover,
:global .react-datepicker__quarter-text--highlighted:hover,
:global .react-datepicker__year-text--highlighted:hover {
  background-color: var(--date-picker-item-background-color-selected-hover, var(--color-brand-primary-600));
}
:global .react-datepicker__day--outside-month,
:global .react-datepicker__month-text--outside-month,
:global .react-datepicker__quarter-text--outside-month,
:global .react-datepicker__year-text--outside-month {
  color: var(--color-brand-grey-500);
}
:global .react-datepicker__day--selected, :global .react-datepicker__day--in-selecting-range, :global .react-datepicker__day--in-range,
:global .react-datepicker__month-text--selected,
:global .react-datepicker__month-text--in-selecting-range,
:global .react-datepicker__month-text--in-range,
:global .react-datepicker__quarter-text--selected,
:global .react-datepicker__quarter-text--in-selecting-range,
:global .react-datepicker__quarter-text--in-range,
:global .react-datepicker__year-text--selected,
:global .react-datepicker__year-text--in-selecting-range,
:global .react-datepicker__year-text--in-range {
  border-radius: var(--date-picker-item-border-radius, var(--size-border-radius-lg));
  background-color: var(--date-picker-item-background-color-selected, var(--color-brand-primary-500));
  color: var(--color-brand-white-500);
}
:global .react-datepicker__day--selected:hover, :global .react-datepicker__day--in-selecting-range:hover, :global .react-datepicker__day--in-range:hover,
:global .react-datepicker__month-text--selected:hover,
:global .react-datepicker__month-text--in-selecting-range:hover,
:global .react-datepicker__month-text--in-range:hover,
:global .react-datepicker__quarter-text--selected:hover,
:global .react-datepicker__quarter-text--in-selecting-range:hover,
:global .react-datepicker__quarter-text--in-range:hover,
:global .react-datepicker__year-text--selected:hover,
:global .react-datepicker__year-text--in-selecting-range:hover,
:global .react-datepicker__year-text--in-range:hover {
  background-color: var(--date-picker-item-background-color-selected-hover, var(--color-brand-primary-600));
}
:global .react-datepicker__day--keyboard-selected,
:global .react-datepicker__month-text--keyboard-selected,
:global .react-datepicker__quarter-text--keyboard-selected,
:global .react-datepicker__year-text--keyboard-selected {
  border-radius: var(--date-picker-item-border-radius, var(--size-border-radius-lg));
  background-color: var(--date-picker-item-background-color-in-range, var(--color-brand-primary-400));
  color: var(--color-brand-white-500);
}
:global .react-datepicker__day--keyboard-selected:hover,
:global .react-datepicker__month-text--keyboard-selected:hover,
:global .react-datepicker__quarter-text--keyboard-selected:hover,
:global .react-datepicker__year-text--keyboard-selected:hover {
  background-color: var(--date-picker-item-background-color-selected-hover, var(--color-brand-primary-600));
}
:global .react-datepicker__day--in-selecting-range:not([class*="--in-range"]),
:global .react-datepicker__month-text--in-selecting-range:not([class*="--in-range"]),
:global .react-datepicker__quarter-text--in-selecting-range:not([class*="--in-range"]),
:global .react-datepicker__year-text--in-selecting-range:not([class*="--in-range"]) {
  background-color: var(--date-picker-item-background-color-in-range, var(--color-brand-primary-400));
}
:global .react-datepicker__day--disabled,
:global .react-datepicker__month-text--disabled,
:global .react-datepicker__quarter-text--disabled,
:global .react-datepicker__year-text--disabled {
  cursor: default;
  color: var(--date-picker-item-font-color-disabled, var(--color-brand-grey-100));
}
:global .react-datepicker__day--disabled:hover,
:global .react-datepicker__month-text--disabled:hover,
:global .react-datepicker__quarter-text--disabled:hover,
:global .react-datepicker__year-text--disabled:hover {
  background-color: transparent;
}
:global .react-datepicker__month-text.react-datepicker__month--selected:hover, :global .react-datepicker__month-text.react-datepicker__month--in-range:hover, :global .react-datepicker__month-text.react-datepicker__quarter--selected:hover, :global .react-datepicker__month-text.react-datepicker__quarter--in-range:hover,
:global .react-datepicker__quarter-text.react-datepicker__month--selected:hover,
:global .react-datepicker__quarter-text.react-datepicker__month--in-range:hover,
:global .react-datepicker__quarter-text.react-datepicker__quarter--selected:hover,
:global .react-datepicker__quarter-text.react-datepicker__quarter--in-range:hover {
  background-color: var(--date-picker-item-background-color-selected, var(--color-brand-primary-500));
}
:global .react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
:global .react-datepicker__year-read-view,
:global .react-datepicker__month-read-view,
:global .react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: var(--size-border-radius-lg);
}
:global .react-datepicker__year-read-view:hover,
:global .react-datepicker__month-read-view:hover,
:global .react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}
:global .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
:global .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
:global .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
:global .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
:global .react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
:global .react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: var(--color-brand-grey-300);
}
:global .react-datepicker__year-read-view--down-arrow,
:global .react-datepicker__month-read-view--down-arrow,
:global .react-datepicker__month-year-read-view--down-arrow {
  border-top-color: var(--color-brand-grey-100);
  float: right;
  margin-left: 20px;
  top: 8px;
  position: relative;
  border-width: 8px;
}
:global .react-datepicker__year-dropdown,
:global .react-datepicker__month-dropdown,
:global .react-datepicker__month-year-dropdown {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  z-index: 1;
  text-align: center;
  border-radius: var(--size-border-radius-lg);
  border: 1px solid var(--color-brand-grey-100);
}
:global .react-datepicker__year-dropdown:hover,
:global .react-datepicker__month-dropdown:hover,
:global .react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}
:global .react-datepicker__year-dropdown--scrollable,
:global .react-datepicker__month-dropdown--scrollable,
:global .react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}
:global .react-datepicker__year-option,
:global .react-datepicker__month-option,
:global .react-datepicker__month-year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
:global .react-datepicker__year-option:first-of-type,
:global .react-datepicker__month-option:first-of-type,
:global .react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: var(--size-border-radius-lg);
  border-top-right-radius: var(--size-border-radius-lg);
}
:global .react-datepicker__year-option:last-of-type,
:global .react-datepicker__month-option:last-of-type,
:global .react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-bottom-left-radius: var(--size-border-radius-lg);
  border-bottom-right-radius: var(--size-border-radius-lg);
}
:global .react-datepicker__year-option:hover,
:global .react-datepicker__month-option:hover,
:global .react-datepicker__month-year-option:hover {
  background-color: var(--color-brand-grey-100);
}
:global .react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
:global .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
:global .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: var(--color-brand-grey-100);
}
:global .react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
:global .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
:global .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: var(--color-brand-grey-100);
}
:global .react-datepicker__year-option--selected,
:global .react-datepicker__month-option--selected,
:global .react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}
:global .react-datepicker__close-icon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0px 6px 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
:global .react-datepicker__close-icon::after {
  cursor: pointer;
  background-color: var(--color-brand-primary-500);
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "×";
}
:global .react-datepicker__today-button {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}
:global .react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}
:global .react-datepicker__portal .react-datepicker__day-name,
:global .react-datepicker__portal .react-datepicker__day,
:global .react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}
@media (max-width: 400px), (max-height: 550px) {
  :global .react-datepicker__portal .react-datepicker__day-name,
  :global .react-datepicker__portal .react-datepicker__day,
  :global .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}
:global .react-datepicker__portal .react-datepicker__current-month,
:global .react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.8rem;
}
:global .react-datepicker__portal .react-datepicker__navigation {
  border: 14.4px solid transparent;
}
:global .react-datepicker__portal .react-datepicker__navigation--previous {
  border-right-color: var(--color-brand-grey-100);
}
:global .react-datepicker__portal .react-datepicker__navigation--previous:hover {
  border-right-color: var(--color-brand-grey-300);
}
:global .react-datepicker__portal .react-datepicker__navigation--previous--disabled, :global .react-datepicker__portal .react-datepicker__navigation--previous--disabled:hover {
  border-right-color: var(--color-brand-grey-50);
  cursor: default;
}
:global .react-datepicker__portal .react-datepicker__navigation--next {
  border-left-color: var(--color-brand-grey-100);
}
:global .react-datepicker__portal .react-datepicker__navigation--next:hover {
  border-left-color: var(--color-brand-grey-300);
}
:global .react-datepicker__portal .react-datepicker__navigation--next--disabled, :global .react-datepicker__portal .react-datepicker__navigation--next--disabled:hover {
  border-left-color: var(--color-brand-grey-50);
  cursor: default;
}/*# sourceMappingURL=DatePicker.module.css.map */